Package: pubget-all
Version: 1.0.0-1
Architecture: all
Maintainer: user <prabinlamsal74@gmail.com>
Installed-Size: 15
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
